In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Prepare Dataset

In [ ]:
import os
import glob
import pandas as pd

FILEPATH = '/content/drive/MyDrive/SCI6484/Project/Data/SC_simulation_results/NM_Albuquerque/'

all_files = glob.glob(os.path.join(FILEPATH, "*.csv"))
df = pd.concat((pd.read_csv(f, sep=",", header=0) for f in all_files))
# df.to_csv(os.path.join(FILEPATH, "merged.csv"), index=False)

In [ ]:
full_df = pd.read_csv(FILEPATH+'merged.csv', sep=",", header=0)
full_df.head()

,in:Solar Chimney Height (m),in:SC Orientation,in:Room Orientation,in:Room Width(m),in:Room Depth(m),out:FlowRate_m3/hr,out:TotalDiscomfortHours,out:TooColdDiscomfortHours,out:TooHotDiscomfortHours,out:OT_TotalDiscomfortHours,out:OT_TooColdDiscomfortHours,out:OT_TooHotDiscomfortHours,out:NS_OT_TotalDiscomfortHours,out:NS_OT_TooColdDiscomfortHours,out:NS_OT_TooHotDiscomfortHours,out:TotalEnergy,out:HeatingEnergy,out:CoolingEnergy,out:SC_TotalArea,VolRatio
0,4,0,-2,10,22,2642.697379,2858,22,2836,1761,2,1759,799,12,787,11.716214,0.448997,11.267217,28,0.012121
1,5,0,-2,10,22,2825.418042,2591,22,2569,1569,2,1567,792,13,779,11.642286,0.526784,11.115502,34,0.015152
2,6,0,-2,10,22,2971.796783,2438,22,2416,1461,2,1459,790,13,777,11.560598,0.599046,10.961552,40,0.018182
3,7,0,-2,10,22,3119.069492,2324,22,2302,1394,2,1392,781,13,768,11.567020,0.703792,10.863227,46,0.021212
4,8,0,-2,10,22,3251.349009,2240,22,2218,1340,2,1338,782,15,767,11.599115,0.807586,10.791530,52,0.024242

In [ ]:
df = full_df.filter(regex='^(in:|out:)').drop(columns=['out:TooColdDiscomfortHours', 'out:OT_TooColdDiscomfortHours', 'out:NS_OT_TooColdDiscomfortHours', 'out:HeatingEnergy', 'out:SC_TotalArea'])
print("total number of rows:", len(df.index))
df.head()
# df.to_csv(os.path.join(FILEPATH, "dataset.csv"), index=False)

total number of rows: 1916

,in:Solar Chimney Height (m),in:SC Orientation,in:Room Orientation,in:Room Width(m),in:Room Depth(m),out:FlowRate_m3/hr,out:TotalDiscomfortHours,out:TooHotDiscomfortHours,out:OT_TotalDiscomfortHours,out:OT_TooHotDiscomfortHours,out:NS_OT_TotalDiscomfortHours,out:NS_OT_TooHotDiscomfortHours,out:TotalEnergy,out:CoolingEnergy
0,4,0,-2,10,22,2642.697379,2858,2836,1761,1759,799,787,11.716214,11.267217
1,5,0,-2,10,22,2825.418042,2591,2569,1569,1567,792,779,11.642286,11.115502
2,6,0,-2,10,22,2971.796783,2438,2416,1461,1459,790,777,11.560598,10.961552
3,7,0,-2,10,22,3119.069492,2324,2302,1394,1392,781,768,11.567020,10.863227
4,8,0,-2,10,22,3251.349009,2240,2218,1340,1338,782,767,11.599115,10.791530

## Data Preprocessing

In [ ]:
import pandas as pd

FILEPATH = '/content/drive/MyDrive/SCI6484/Project/Data/SC_simulation_results/NM_Albuquerque/'
df = pd.read_csv(FILEPATH + "dataset.csv")
print("total number of rows:", len(df.index))
df.head()

total number of rows: 1916

,in:Solar Chimney Height (m),in:SC Orientation,in:Room Orientation,in:Room Width(m),in:Room Depth(m),out:FlowRate_m3/hr,out:TotalDiscomfortHours,out:TooHotDiscomfortHours,out:OT_TotalDiscomfortHours,out:OT_TooHotDiscomfortHours,out:NS_OT_TotalDiscomfortHours,out:NS_OT_TooHotDiscomfortHours,out:TotalEnergy,out:CoolingEnergy
0,4,0,-2,10,22,2642.697379,2858,2836,1761,1759,799,787,11.716214,11.267217
1,5,0,-2,10,22,2825.418042,2591,2569,1569,1567,792,779,11.642286,11.115502
2,6,0,-2,10,22,2971.796783,2438,2416,1461,1459,790,777,11.560598,10.961552
3,7,0,-2,10,22,3119.069492,2324,2302,1394,1392,781,768,11.567020,10.863227
4,8,0,-2,10,22,3251.349009,2240,2218,1340,1338,782,767,11.599115,10.791530

In [ ]:
def remove_outliers(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df = df[(df[column] > lower_bound) & (df[column] < upper_bound)]
    return df

# Remove outliers from each column
columns = df.columns
for column in columns:
    df = remove_outliers(df, column)

print("total number of rows:", len(df.index))
df.head()

total number of rows: 1650

,in:Solar Chimney Height (m),in:SC Orientation,in:Room Orientation,in:Room Width(m),in:Room Depth(m),out:FlowRate_m3/hr,out:TotalDiscomfortHours,out:TooHotDiscomfortHours,out:OT_TotalDiscomfortHours,out:OT_TooHotDiscomfortHours,out:NS_OT_TotalDiscomfortHours,out:NS_OT_TooHotDiscomfortHours,out:TotalEnergy,out:CoolingEnergy
0,4,0,-2,10,22,2642.697379,2858,2836,1761,1759,799,787,11.716214,11.267217
1,5,0,-2,10,22,2825.418042,2591,2569,1569,1567,792,779,11.642286,11.115502
2,6,0,-2,10,22,2971.796783,2438,2416,1461,1459,790,777,11.560598,10.961552
3,7,0,-2,10,22,3119.069492,2324,2302,1394,1392,781,768,11.567020,10.863227
4,8,0,-2,10,22,3251.349009,2240,2218,1340,1338,782,767,11.599115,10.791530

#Train

### Prepare normalized dataset

In [ ]:
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, Dataset
from sklearn.preprocessing import MinMaxScaler

# Split the data into training and testing sets
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

class CustomDataset(Dataset):
    def __init__(self, data):
        self.data = data.values.astype('float32')
        self.x = self.data[:, :5]
        self.y = self.data[:, 5:]

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        x = torch.from_numpy(self.x[idx])
        y = torch.from_numpy(self.y[idx])
        return x, y

# Define the scaler
scaler = MinMaxScaler(feature_range=(0,100))

# Normalize the input data
train_df.iloc[:, :5] = scaler.fit_transform(train_df.iloc[:, :5])
test_df.iloc[:, :5] = scaler.transform(test_df.iloc[:, :5])

# Normalize the output data
train_df.iloc[:, 5:] = scaler.fit_transform(train_df.iloc[:, 5:])
test_df.iloc[:, 5:] = scaler.transform(test_df.iloc[:, 5:])

# Create the training and testing datasets
train_dataset = CustomDataset(train_df)
test_dataset = CustomDataset(test_df)

# Create data loaders for batch processing
batch_size = 8
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

train_df.head()

<ipython-input-39-94ef80240b21>:30: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  train_df.iloc[:, :5] = scaler.fit_transform(train_df.iloc[:, :5])
<ipython-input-39-94ef80240b21>:31: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  test_df.iloc[:, :5] = scaler.transform(test_df.iloc[:, :5])

,in:Solar Chimney Height (m),in:SC Orientation,in:Room Orientation,in:Room Width(m),in:Room Depth(m),out:FlowRate_m3/hr,out:TotalDiscomfortHours,out:TooHotDiscomfortHours,out:OT_TotalDiscomfortHours,out:OT_TooHotDiscomfortHours,out:NS_OT_TotalDiscomfortHours,out:NS_OT_TooHotDiscomfortHours,out:TotalEnergy,out:CoolingEnergy
352,50.0,66.666667,100.0,66.666667,100.000000,62.656929,63.958641,64.025591,68.80,68.824940,41.573034,42.222222,40.407310,64.874838
215,0.0,100.000000,80.0,33.333333,100.000000,23.630984,70.556376,70.521654,76.08,76.019185,38.202247,38.888889,28.960967,52.644184
356,25.0,100.000000,100.0,66.666667,100.000000,50.553813,76.661743,76.673228,82.00,82.014388,42.696629,43.333333,51.949726,74.958613
694,100.0,66.666667,80.0,33.333333,33.333333,64.009300,15.312654,15.354331,15.36,15.427658,41.573034,37.777778,40.818998,32.902222
63,75.0,0.000000,60.0,0.000000,100.000000,59.317953,21.565731,21.456693,20.96,20.783373,71.910112,65.555556,54.899262,46.699987

In [ ]:
import torch.nn.functional as F

class Net(nn.Module):
  def __init__(self):
      super(Net, self).__init__()
      self.fc1 = nn.Linear(5, 128)
      self.fc2 = nn.Linear(128, 256)
      self.fc3 = nn.Linear(256, 512)
      self.fc4 = nn.Linear(512, 1024)
      self.fc5 = nn.Linear(1024, 512)
      self.fc6 = nn.Linear(512, 256)
      self.fc7 = nn.Linear(256, 128)
      self.fc8 = nn.Linear(128, 9)

  def forward(self, x):
      x = F.gelu(self.fc1(x))
      x = F.gelu(self.fc2(x))
      x = F.gelu(self.fc3(x))
      x = F.gelu(self.fc4(x))
      x = F.gelu(self.fc5(x))
      x = F.gelu(self.fc6(x))
      x = F.gelu(self.fc7(x))
      x = self.fc8(x)
      return x

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

model = Net().to(device)
criterion = nn.MSELoss()

wd = 0.01
optimizer = optim.Adam(model.parameters(), lr=0.001, weight_decay=wd)

num_epochs = 2000

# Define the learning rate scheduler
scheduler = optim.lr_scheduler.MultiStepLR(optimizer, milestones=[50, 500, 1000, 1500], gamma=0.2)
# scheduler = optim.lr_scheduler.LambdaLR(optimizer, lr_lambda=lambda epoch: 1 - epoch/(num_epochs-1))


for epoch in range(num_epochs):
    train_loss = 0.0
    model.train()

    for inputs, targets in train_loader:
        inputs, targets = inputs.to(device), targets.to(device)

        optimizer.zero_grad()
        outputs = model(inputs)
        loss = criterion(outputs, targets)
        reg_loss = 0.0

        # Adding L2 regularization to the weights of the model
        for param in model.parameters():
            reg_loss += torch.sum(torch.square(param))
        
        loss += wd * reg_loss
        loss.backward()
        optimizer.step()

        train_loss += loss.item()

    train_loss /= len(train_loader)

    with torch.no_grad():
        test_loss = 0.0
        model.eval()

        for inputs, targets in test_loader:
            inputs, targets = inputs.to(device), targets.to(device)

            outputs = model(inputs)
            loss = criterion(outputs, targets)
            test_loss += loss.item()

        test_loss /= len(test_loader)

    scheduler.step()  # Update the learning rate

    if epoch % 25 == 0:
      print(f'Epoch {epoch + 1}, Train Loss: {train_loss:.4f}, Test Loss: {test_loss:.4f}, Learning Rate: {optimizer.param_groups[0]["lr"]:.6f}')

print(f'Epoch {epoch + 1}, Train Loss: {train_loss:.4f}, Test Loss: {test_loss:.4f}, Learning Rate: {optimizer.param_groups[0]["lr"]:.6f}')

Epoch 1, Train Loss: 456.6089, Test Loss: 327.3660, Learning Rate: 0.001000
Epoch 26, Train Loss: 56.5056, Test Loss: 57.1764, Learning Rate: 0.001000
Epoch 51, Train Loss: 17.3434, Test Loss: 24.1379, Learning Rate: 0.000200
Epoch 76, Train Loss: 10.7790, Test Loss: 21.4127, Learning Rate: 0.000200
Epoch 101, Train Loss: 9.1810, Test Loss: 17.8524, Learning Rate: 0.000200
Epoch 126, Train Loss: 7.7345, Test Loss: 17.5947, Learning Rate: 0.000200
Epoch 151, Train Loss: 6.8698, Test Loss: 17.3711, Learning Rate: 0.000200
Epoch 176, Train Loss: 6.3722, Test Loss: 17.3484, Learning Rate: 0.000200
Epoch 201, Train Loss: 6.1095, Test Loss: 17.1274, Learning Rate: 0.000200
Epoch 226, Train Loss: 6.0424, Test Loss: 17.6115, Learning Rate: 0.000200
Epoch 251, Train Loss: 5.5460, Test Loss: 16.7690, Learning Rate: 0.000200
Epoch 276, Train Loss: 5.9603, Test Loss: 16.9143, Learning Rate: 0.000200
Epoch 301, Train Loss: 5.5525, Test Loss: 17.6642, Learning Rate: 0.000200
Epoch 326, Train Loss: 5.2577, Test Loss: 16.9978, Learning Rate: 0.000200
Epoch 351, Train Loss: 5.0447, Test Loss: 16.6051, Learning Rate: 0.000200
Epoch 376, Train Loss: 5.2096, Test Loss: 16.3887, Learning Rate: 0.000200
Epoch 401, Train Loss: 5.0399, Test Loss: 16.3092, Learning Rate: 0.000200
Epoch 426, Train Loss: 5.5049, Test Loss: 17.7803, Learning Rate: 0.000200
Epoch 451, Train Loss: 4.8339, Test Loss: 16.5941, Learning Rate: 0.000200
Epoch 476, Train Loss: 5.1677, Test Loss: 17.3138, Learning Rate: 0.000200
Epoch 501, Train Loss: 4.1767, Test Loss: 15.6100, Learning Rate: 0.000040
Epoch 526, Train Loss: 3.8867, Test Loss: 15.7447, Learning Rate: 0.000040
Epoch 551, Train Loss: 3.8819, Test Loss: 15.7193, Learning Rate: 0.000040
Epoch 576, Train Loss: 3.7983, Test Loss: 15.5363, Learning Rate: 0.000040
Epoch 601, Train Loss: 3.7455, Test Loss: 15.8477, Learning Rate: 0.000040
Epoch 626, Train Loss: 3.7386, Test Loss: 15.3915, Learning Rate: 0.000040
Epoch 651, Train Loss: 3.7211, Test Loss: 15.8967, Learning Rate: 0.000040
Epoch 676, Train Loss: 3.6798, Test Loss: 15.4803, Learning Rate: 0.000040
Epoch 701, Train Loss: 3.6749, Test Loss: 15.4149, Learning Rate: 0.000040
Epoch 726, Train Loss: 3.6368, Test Loss: 15.7557, Learning Rate: 0.000040
Epoch 751, Train Loss: 3.6737, Test Loss: 15.8263, Learning Rate: 0.000040
Epoch 776, Train Loss: 3.6197, Test Loss: 15.5415, Learning Rate: 0.000040
Epoch 801, Train Loss: 3.5777, Test Loss: 15.4062, Learning Rate: 0.000040
Epoch 826, Train Loss: 3.6085, Test Loss: 15.5136, Learning Rate: 0.000040
Epoch 851, Train Loss: 3.5655, Test Loss: 15.7701, Learning Rate: 0.000040
Epoch 876, Train Loss: 3.5774, Test Loss: 15.8258, Learning Rate: 0.000040
Epoch 901, Train Loss: 3.5440, Test Loss: 15.6988, Learning Rate: 0.000040
Epoch 926, Train Loss: 3.5159, Test Loss: 15.7652, Learning Rate: 0.000040
Epoch 951, Train Loss: 3.5017, Test Loss: 15.5707, Learning Rate: 0.000040
Epoch 976, Train Loss: 3.5113, Test Loss: 15.5266, Learning Rate: 0.000040
Epoch 1001, Train Loss: 3.3842, Test Loss: 15.5551, Learning Rate: 0.000008
Epoch 1026, Train Loss: 3.3640, Test Loss: 15.5902, Learning Rate: 0.000008
Epoch 1051, Train Loss: 3.3604, Test Loss: 15.5660, Learning Rate: 0.000008
Epoch 1076, Train Loss: 3.3542, Test Loss: 15.6371, Learning Rate: 0.000008
Epoch 1101, Train Loss: 3.3498, Test Loss: 15.6460, Learning Rate: 0.000008
Epoch 1126, Train Loss: 3.3525, Test Loss: 15.6621, Learning Rate: 0.000008
Epoch 1151, Train Loss: 3.3412, Test Loss: 15.6489, Learning Rate: 0.000008
Epoch 1176, Train Loss: 3.3392, Test Loss: 15.6444, Learning Rate: 0.000008
Epoch 1201, Train Loss: 3.3359, Test Loss: 15.6603, Learning Rate: 0.000008
Epoch 1226, Train Loss: 3.3302, Test Loss: 15.6588, Learning Rate: 0.000008
Epoch 1251, Train Loss: 3.3302, Test Loss: 15.6584, Learning Rate: 0.000008
Epoch 1276, Train Loss: 3.3309, Test Loss: 15.6772, Learning Rate: 0.000008
Epoch 1301, Train Loss: 3.3256, Test Loss: 15.6620, Learning Rate: 0.000008
Epoch 1326, Train Loss: 3.3227, Test Loss: 15.6542, Learning Rate: 0.000008
Epoch 1351, Train Loss: 3.3131, Test Loss: 15.6836, Learning Rate: 0.000008
Epoch 1376, Train Loss: 3.3154, Test Loss: 15.6897, Learning Rate: 0.000008
Epoch 1401, Train Loss: 3.3112, Test Loss: 15.6767, Learning Rate: 0.000008
Epoch 1426, Train Loss: 3.3070, Test Loss: 15.7487, Learning Rate: 0.000008
Epoch 1451, Train Loss: 3.3017, Test Loss: 15.8214, Learning Rate: 0.000008
Epoch 1476, Train Loss: 3.3045, Test Loss: 15.6817, Learning Rate: 0.000008
Epoch 1501, Train Loss: 3.2768, Test Loss: 15.6990, Learning Rate: 0.000002
Epoch 1526, Train Loss: 3.2730, Test Loss: 15.7326, Learning Rate: 0.000002
Epoch 1551, Train Loss: 3.2736, Test Loss: 15.7510, Learning Rate: 0.000002
Epoch 1576, Train Loss: 3.2728, Test Loss: 15.7475, Learning Rate: 0.000002
Epoch 1601, Train Loss: 3.2715, Test Loss: 15.7134, Learning Rate: 0.000002
Epoch 1626, Train Loss: 3.2715, Test Loss: 15.7364, Learning Rate: 0.000002
Epoch 1651, Train Loss: 3.2710, Test Loss: 15.7313, Learning Rate: 0.000002
Epoch 1676, Train Loss: 3.2707, Test Loss: 15.7365, Learning Rate: 0.000002
Epoch 1701, Train Loss: 3.2693, Test Loss: 15.7610, Learning Rate: 0.000002
Epoch 1726, Train Loss: 3.2685, Test Loss: 15.7590, Learning Rate: 0.000002
Epoch 1751, Train Loss: 3.2684, Test Loss: 15.7304, Learning Rate: 0.000002
Epoch 1776, Train Loss: 3.2665, Test Loss: 15.7462, Learning Rate: 0.000002
Epoch 1801, Train Loss: 3.2679, Test Loss: 15.7784, Learning Rate: 0.000002
Epoch 1826, Train Loss: 3.2660, Test Loss: 15.7304, Learning Rate: 0.000002
Epoch 1851, Train Loss: 3.2655, Test Loss: 15.7666, Learning Rate: 0.000002
Epoch 1876, Train Loss: 3.2648, Test Loss: 15.7365, Learning Rate: 0.000002
Epoch 1901, Train Loss: 3.2636, Test Loss: 15.7599, Learning Rate: 0.000002
Epoch 1926, Train Loss: 3.2637, Test Loss: 15.7624, Learning Rate: 0.000002
Epoch 1951, Train Loss: 3.2630, Test Loss: 15.7483, Learning Rate: 0.000002
Epoch 1976, Train Loss: 3.2629, Test Loss: 15.7602, Learning Rate: 0.000002
Epoch 2000, Train Loss: 3.2614, Test Loss: 15.7661, Learning Rate: 0.000002

In [ ]:
!mkdir -p /content/drive/MyDrive/SCI6484/Project/Output/Models/

In [ ]:
OUTPUT_PATH = '/content/drive/MyDrive/SCI6484/Project/Output/Models/'
model_name = f"model_bs{batch_size}_lr{optimizer.param_groups[0]['lr']}_wd{optimizer.param_groups[0]['weight_decay']}_epochs{num_epochs}_tl{test_loss}.pt"
torch.save(model.state_dict(), OUTPUT_PATH + model_name)

#Test

In [ ]:
len(df.index)

1650

In [ ]:
def predict(sc_height, sc_orient, room_orient, room_width, room_depth):
  scaler.fit(df.iloc[:, :5])
  sample_input = torch.from_numpy(scaler.transform(pd.DataFrame([[sc_height, sc_orient, room_orient, room_width, room_depth]])).astype('float32'))
  sample_input = sample_input.to(device)

  # Make a prediction using the trained model
  model.eval()
  with torch.no_grad():
      predicted_output = model(sample_input)

  # Convert the predicted output tensor to a numpy array and apply inverse transformation
  predicted_output = predicted_output.cpu().numpy()
  scaler.fit(df.iloc[:, 5:])

  predicted_output = scaler.inverse_transform(predicted_output)

  return predicted_output

print(predict(4, 0, -2, 10, 22)[0]) # 2642.697379	2858	2836	1761	1759	799	787	11.716214	11.267217

[2635.5776   2849.0088   2825.8982   1755.4539   1752.9176    799.92816
  787.63873    11.709449   11.214865]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(